body {
    margin: 0;
    padding: 0;
    background: url('../assets/cumberland-login-bg.jpg');
    background-size: cover;
    background-position: center;
    font-family: sans-serif;
    height: 100%;
    width: 100%;
}
